#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 32px;
}
.rtl {
  text-align: right;
}
.border-white-r {
  border-right: 1px solid #FFFFFF;
}
.p-b-5 {
  padding-bottom: 5em;
}
#question-box {
  height: 180px;
  line-height: 10em;
  padding-bottom: 1em;
}
#question {
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: bold;
}
#hold {
  padding: 1em 0;
}
#multi {
  opacity: 0;
}
.main-box {
  height: 320px;
}
#stickman {
  padding: 3em;;
}
.ui-widget input {
  padding: 5px;
  font-size: 2em;
}
.ui-keyboard-button {
  height: 3em !important;
  min-width: 3em !important;
  margin: .2em !important;
}
.right-box {
  border: none;
}

@media (max-width: 1024px) {
  .ui-keyboard-button {
    height: 2em !important;
    min-width: 2em !important;
    margin: .1em !important;
  }
  .border-white-r {
    border: none;
  }
  .right-box {
    border-top: 1px solid #FFFFFF;
  }
}